@CHARSET "UTF-8";
.main_div{
  width:100%;
}
.title_div{
  width:100%;
  height:50px;
  line-height:50px;
  color:#fff;
  text-align:center;
  border-bottom:#898989 solid 1px;
  background-color:#cd2222;
}
.back_div{
  width: 50px;
  height: 30px;
  line-height:30px;
  text-align: center;
  color: #fff;
  margin-top: -40px;
  margin-left:5px; 
  position: absolute;
}
.imgUrl_img{
  width:100%;height:200px;
}
.name_sc_div{
  width:100%;
  height:50px;
  line-height:50px;
}
.productName_div{
  margin-left:20px;
  color:#333;
}
.shoucang_div{
  float:right;
  margin-top:-50px;
  margin-right:20px;
  color:#747474;
}
.sciu_div{
  width:20px;
  height:20px;
  float:right;
  margin-top:-35px;
  margin-right:65px;
}
.zhpf_msv_div{
  width:100%;
  height:50px;
  line-height:50px;
}
.zhpf_div{
  width:85px;
  margin-left:10px;
  color:#777;
}
.xx_img{
  width:20px;
  height:20px;
  margin-top:-35px;
  position:absolute;
}
.xxa{
  margin-left:85px;
}
.xxb{
  margin-left:110px;
}
.xxc{
  margin-left:135px;
}
.xxd{
  margin-left:160px;
}
.xxe{
  margin-left:185px;
}
.msv_div{
  width:100px;
  height:50px;
  line-height:50px;
  margin-top:-50px;
  color:#818181;
  float: right;
}
.price_opt_div{
  width:100%;
  height:50px;
  line-height:50px;
}
.price_div{
  width:85px;
  margin-left:20px;
  color:#d75571;
}
.option_div{
  width: 110px;
  height:50px;
  float: right;
  margin-top:-50px;
  margin-right: 10px;
}
.jian_img{
  width:30px;
  height:30px;
  margin-top: 10px;
}
.sum_input{
  width:30px;
  height:30px;
  text-align:center;
  margin-top:8px;
  margin-left:5px;
  position: absolute;
}
.add_img{
  width:30px;
  height:30px;
  margin-top:10px;
  margin-left:45px;
  position:absolute;
}
.tclb_div{
  width:100%;
  height:50px;
  line-height:50px;
  background-color:#dfe3e4;
}
.tclb_text_div{
  width:85px;
  margin-left:20px;
  color:#313536;
}
.price_zj_div{
  width:100%;
  height:50px;
  line-height:50px;
}
.price_div{
  width:150px;
  margin:0 auto;
  color:#ff4567;
}
.zongjia_div{
  float:right;
  margin-top:-50px;
  margin-right:30px;
  color:#737373;
}
.spjj_div{
  width:100%;
  height:50px;
  line-height:50px;
  background-color:#dfe3e4;
}
.spjj_text_div{
  width:85px;
  margin-left:20px;
  color:#313536;
}
.space_div{
  width:100%;
  height:50px;
}
.bottom_div{
  width:100%;
  height:50px;
  line-height:50px;
  bottom:0px;
  position:fixed;
  background-color:#989898;
}
.yidian_img{
  width:30px;
  height:30px;
  margin-top: 10px;
  margin-left:20px;
  vertical-align: middle;
}
.foodAmount_div{
  width:20px;
  height:20px;
  line-height:20px;
  text-align:center;
  margin-top:-30px;
  margin-left:40px;
  background-color:#da0003;
  position:absolute;
  border-radius:360px;
}
.vs_div{
  width:2px;
  height:80%;
  margin-top:-45px;
  margin-left:65px;
  background-color:#f9b797;
}
.yd_tp_div{
  width:80px;
  height:50px;
  margin-top:-45px;
  margin-left:77px;
}
.yidian_div{
  width:80px;
  height:25px;
  line-height:25px;
  margin-top: 10px;
  font-size:14px;
  color:#626262;
}
.totalPrice_div{
  width:80px;
  height:25px;
  line-height:25px;
  font-size:14px;
  color:#b42d34;
}
.jrddlb_div{
  width:120px;
  height:40px;
  line-height:40px;
  text-align:center;
  float:right;
  margin-top:-45px;
  margin-right:20px;
  color:#fff;
  font-size:18px;
  background-color:#be2922;
}